#content {
    width: calc(100% - 100px);
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 100px;
    right: 0px;

}

.slide {
    height: 100vh;
    padding: 10px; 
    font-family: 'Amatic SC', cursive;
}

h1 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 100px;
    border-bottom: 4px solid black;
}

#hello {
    background: #4ABDAC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#contact-center{
    background: #F7B733;

}

#my-team{
    background: #4ABDAC;
}

#project-one{
    background: #F7B733;

}

#paul {
    background: #4ABDAC;
}

#farewell {
    background: #F7B733;

}