#content {
    width: calc(100% - 100px);
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 100px;
    right: 0px;
    transition: all .2s ease-in-out;
}

.slide {
    height: 100vh;
    font-family: 'Itim', cursive;
    overflow: hidden;
}



h1 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
    font-size: 100px;
    border-bottom: 4px solid black;
}

.text2 {
    font-size: 30px;
    width: 70%;
    text-align: center;
}

.text3 {
    font-size: 22px;
}

@media (max-width: 1550px){
    h1 {
        font-size: 50px;
    }
}

@media (max-width: 1300px){
    .text2 {
        font-size: 22px;
    }
    .text3 {
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    #content {
        height: calc(100% - 60px);
        width: 100%;
        left: 0px;
        top: 60px;
    }
    .slide {
        height: calc(100vh - 60px);
    }

    h1 {
        font-size: 35px;
    }

    .text2 {
        font-size: 18px;
    }
    .text3 {
        font-size: 14px;
    }    
}
