#paul {
    background: #4ABDAC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.paul-img {
    height: 400px;
    width: 350px;  
    background: lightgray;
    background-image: url('../images/paul.jpg'); 
    background-size: cover;
    background-position: 50% 100%;
}

.flex-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.mobile {
    display: none;
}

@media (max-width: 1300px){
    .paul-img {
        height: 300px;
        width: 250px;
    }
}

@media (max-width: 950px){
    .paul-img{
        height: 250px;
        width: 200px;
    }
}

@media (max-width: 550px) {
    .paul-img {
        height: 200px;
        width: 190px;
    }
    .non-mobile {
        display: none;
    }

    .mobile {
        display: block;
    }
    .right {
        margin-left: 0px;
    }
}