#project-one{
    background: #F7B733;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-window {
    height: 400px;
    width: 600px;
    background: transparent;
    position: relative;
}

.slideImage {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.divider {
    width: 60px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-side > div {
    font-size: 28px;
}

.cta-small{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px 0px 8px;
    padding: 5px;
    text-align: center;
    background: #FC4A1A;
    box-shadow: -1px 1px 0px #fc754f,
    -2px 2px 0px #fc754f,
    -3px 3px 0px #fc754f,
    -4px 4px 0px #fc754f;

    border-radius: 8px;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.cta-small:hover{
         box-shadow: -1px 1px 0px #fc754f,
    -2px 2px 0px #fc754f,
    -3px 3px 0px #fc754f,
    -4px 4px 0px #fc754f,
    -5px 5px 0px #fc754f;
    transform: translate(1px, -1px);
}

.cta-small:active{
    box-shadow: -1px 1px 0px #fc754f;
    transform: translate(-3px, 3px);
}


@media (max-width: 1400px) {
    .image-window {
        height: 300px;
        width: 400px;
    }
    .right-side > div {
        font-size: 22px;
    }
}

@media (max-width: 950px){
    .cta-small {
        margin: 0px 3px 0px 5px;
        padding: 2px;
        font-size: 18px;
    }
    .image-window {
        height: 200px;
        width: 300px;
    }
    .right-side > div {
        font-size: 16px;
    }
}
