#project-one{
    background: #F7B733;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.material-icons.large {
    font-size: 35px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-window {
    height: 400px;
    width: 550px;
    background: white;
    position: relative;
}

.slideImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    opacity: 1;
    visibility: 1;
    transition: all .2s ease-in-out;
    z-index: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.divider {
    width: 40px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
