#project-one{
    background: #F7B733;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.material-icons.large {
    font-size: 35px;
    cursor: pointer;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.image-window {
    height: 400px;
    width: 600px;
    background: transparent;
    position: relative;
}

.slideImage {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.divider {
    width: 40px;
}
.right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
